@charset "UTF-8";    

    body{
            background-color: lightblue;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(0, 0, 54);
            background-color: rgb(32, 34, 129);
        }
        h2{
            color: rgb(3, 3, 68);
        }