@charset "UTF-8";

table {
    border-collapse: collapse;
}

td {
    background-color: gray;
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}

td.homens {
    background-color: rgb(106, 106, 167);
}

th {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}