@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D99B66, #D9501E, #A6290D, #591607);
}

main{
    color: #D99B66;
    background-color: rgb(0, 0, 0);
    border-radius: 10px; 
    box-shadow: 5px 5px 15px #2b0b03c5;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color:#A6290D;
    text-align: center;
    text-shadow: 1px 1px 2px #f03b128f;
}

h2{
    color:#D9501E;
}

*{
    text-align: justify;
}
