@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
}

tr.cinza {
    background-color: gray;
    color: white;
}

td, th {
    width: 100px;
    padding: 10px;
    border: 1px solid black;
}