@charset "UTF-8";

body{
    background-color: rgb(82, 204, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgb(39, 95, 77);
}

.principal{
    text-align: center;
    background-color: rgb(39, 95, 77);
    color: rgb(82, 204, 163);
}

.basico{
    color: rgb(6, 204, 52);
}

.intermediario{
    color: rgb(3, 122, 31);
}

.avancado{
    color: rgb(1, 49, 12);
}

h2{
    color: rgb(10, 27, 14);
}