@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

col.cnome {
    background-color: rgb(158, 106, 168);
}